<% if resource.errors.any? %>
<%# この↑の部分のresourceに@profileを渡した%>
  <div id="error_explanation" class="d-flex justify-content-center">
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
