Topページ


<div class="container mt-5">
  <div class="row">
    <%= link_to customers_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post do %>
      <i class="fa-solid fa-right-to-bracket"></i><%= " ゲストログイン（閲覧用）" %>
    <% end %>
  </div>
  <div class="row">
    <div class="col-6 offset-3">

    </div>
  </div>
</div>