<% if post.errors.any? %>
    <%= post.errors.count %> 件のエラーがあります
    <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
    </ul>
<% end %>
