
<div class="container">
  <div class="row mb-4 d-flex justify-content-center">
    <div class="col-3">
      <h2 class="bg-danger text-white text-center">
        <strong>退会確認</strong>
      </h2>
    </div>
  </div>
  <div class="row mt-5 d-flex justify-content-center bg-white p-5 mt-5" style="min-height: 550px;">
    <div class="col-8 text-center">
      <h2 class="m-5">
        <strong>本当に退会しますか？</strong>
        </h2>
      <p class="p-5">
        退会すると会員情報やこれまでの投稿を閲覧できなくなります<br>
        退会する場合は「退会する」を押してください
      </p>
      <div class="d-flex justify-content-around mt-5">
        <%= link_to "　戻る　", customer_path(current_customer), class:"btn btn-primary" %>
        <%= link_to out_path, method: :patch, data: { confirm: '本当に退会しますか？' }, class:"btn btn-danger" do %>
          <i class="fa-solid fa-user-large-slash"></i> 退会する
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div claas="col">

    </div>
    <div class="col">

    </div>
  </div>
</div>