main {
  background-image: url("v-map.jpg");
  background-size: cover;
}

.required {
  color: white;
  background-color: rgb(223, 31, 31);
  font-size: 70%;
  border-radius: 3px;
  padding: 0 5px;
  vertical-align: middle;
}