<div class="container">
  <div class="row text-center mb-4">
    <div class="col-3 offset-1">
      <h2 class="bg-info text-white d-block text-center">
        <strong>
          good! <i class="fa-solid fa-thumbs-up"></i> 一覧
        </strong>
      </h2>
    </div>
  </div>
  <h4 class="text-center bg-white">
    good! <i class="fa-solid fa-thumbs-up"></i>件数：<strong><%= @favorites_list.count %>件</strong>
  </h4>
  <div class="row pt-4 pb-4 bg-white" style="min-height: 550px;">
    <div class="col">
      <div class="row">
        <% if @favorites_list.present? %>
          <%= render "publics/posts/post_index", posts: @list %>
        <% else %>
          <div class="col text-center">
            <h2 style="margin: 200px 0;">
              <i class="fa-solid fa-thumbs-up"></i>いいねをした投稿はありません
            </h2>
          </div>
        <% end %>
      </div>
      <div class="row">
        <div class="col-1 offset-5">
          <%= paginate @list %>
        </div>
      </div>
    </div>
  </div>
</div>