<div class="container">
  <div class="row text-center mb-4">
    <div class="col-3 offset-1">
      <h2 class="bg-info text-white d-block text-center">
        <strong>
          <i class="fa-solid fa-thumbs-up">いいね一覧</i>
        </strong>
      </h2>
    </div>
  </div>
  <div class="row pt-4 pb-4" style="background-color: lightblue; min-height: 550px;">
    <div class="col">
      <% if @favorites_list.present? %>
        <%= render "publics/posts/post_index", posts: @favorites_list %>
      <% else %>
        <p class="text-center" style="margin-top: 200px;">
          <i class="fa-solid fa-thumbs-up"></i>いいねをした投稿はありません
        </p>
      <% end %>
    </div>
  </div>
</div>