<div class="text-center text-white"  style="background-color: Navy; min-height: 100px;">
  <p class="footer-text pt-3 d-flex justify-content-around">© PF Driver_information.Inc.</p>
  <%= link_to do %>
    <i class="fa-brands fa-twitter mr-5 text-white"></i>
  <% end %>
  <%= link_to do %>
    <i class="fa-brands fa-instagram mr-5 text-white"></i>
  <% end %>
  <%= link_to do %>
    <i class="fa-brands fa-facebook-square text-white"></i>
  <% end %>
</div>